@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto';
}

/* MAIN */
.main{
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
header{
  height: 10vh;
}
.nav_bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
nav a{
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 0.3;
}
nav a:hover{
  color: #40A3F8;
  opacity: 0.8;
}
.btn{
  background-color: #40A3F8;
  color: #fff;
  padding: 10px 15px;
  opacity: 1;
  border-radius: 5px;
}
.btn:hover{
  background-color: #0864b4;
  color: #fff;
  opacity: 1;
}
.brgMenu{
  display: none;
}
/* MAIN MAIN */
main{
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 10vh;
}
.left_main{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_main h1{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
}
.left_main span{
  color:#40A3F8;
}
.left_main p{
  width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  margin: 10% 0;
}
.right_main{
  width: 60%;
  display: flex;
  height: 74vh;
}
.right_main img{
  width: 100%;
  height: 100%;
}
.form{
  background: #FFFFFF;
  height: 10%;
  box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.name, .city{
  background: rgba(245, 246, 250, 0.52);
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
}


/* ADVANTAGES */
.advantages{
  margin-bottom: 20vh;
}
.topA{
  margin-top: 10vh;
  width: 100%;
  text-align: center;
}
.topA h1{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
}
.topA> div{
  display: flex;
  justify-content: space-between;
}
.topA>div div{
  width: 21%;
  margin-top: 5vh;
}
.topA>div div h2{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
  margin-bottom: 2vh;
}
.topA>div div p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.bottomA{
  display: flex;
  margin-top: 10vh; 
}
.bottomL{
  width: 60%;
}
.bottomR{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomR h2{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.bottomR p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-top: 5vh;
  margin-bottom: 2vh;
}
ul li{
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-top: 15px;
}
ul li::before{
  content: "";
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background-image: url(../img/cheek.svg);
  background-repeat: no-repeat;
}
.bottomR a{
  width: fit-content;
  margin-top: 5vh;
}

/* SERVICE */
.service{
  text-align: center;
}
.serviceH{
  width: 32%;
  margin: 0 auto;
}
.serviceH h1{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.serviceH p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-top: 3vh;
  margin-bottom: 10vh;
}
.items{
  display: flex;
  justify-content: space-evenly;
}
.items>div{
  width: 27%;
  height: 35vh;
  background: rgba(236, 235, 235, 0.37);
  border-radius: 10px;
  box-shadow: 0px 0px 5px  #afafb4;
}
.items>div:hover{
  border: 3px solid #40A3F8;
  background-color: #fff;
  cursor: pointer;
}
.items>div>div{
  width: 65%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.item h2{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3D3D3F;
}
.item p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.item img{
  height: 80px;
}
.point{
  margin-top: 10vh;
}

/* DOCTORS */
.doctors{
  text-align: center;
  margin-top: 20vh;
}
.doctors .container h1{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.doctors .container>p{
  width: 33%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin: 0 auto;
}
.doctors .container>img{
  margin: 3vh 0;
}
.doctor{
  display: flex;
  justify-content: space-evenly;
  height: 45vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.doctor>div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 254, 254);
  border-radius: 10px;
  box-shadow: 0px 0px 5px  #afafb4;
  width: 20%;
}
.doctor>div>img{
  width: 90%;
}
.doctor h2{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3D3D3F;
}
.doctor p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.doctor>div>div{
  width: 40%;
  display: flex;
  justify-content: space-between;
}

/* APP */
.app{
  margin-top: 20vh;
}
.app .container{
  display: flex;
}
.leftApp{
  width: 60%;
}
.rightApp{
  width: 35%;
  height: 50%;
  margin: auto;
}
.rightApp h1{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.rightApp p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7); 
  margin: 5vh 0;
}
.rightApp img{
  margin-right: 20px;
}

/* CLIENTS */
.clients .container{
  width: 95%;
  margin-top: 10vh;
}
.clients h1{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  text-align: center;
}
.client{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.client>div{
  width: 25%;
  height: 45vh;
  background: rgba(255, 254, 254);
  border-radius: 10px;
  box-shadow: 0px 0px 5px  #afafb4;
  position: relative;
}
.cardC{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}
.avatar{
  width: 20%;
  margin: 20px auto;
}
.cardC>div{
  display: flex;
  justify-content: space-between;
}
.cardC>p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
}
.leftClient{
  width: 49%;
}
.leftClient h2{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.leftClient p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.rightClient{
  width: 25%;
}
.quote{
  position: absolute;
  right: 50px;
  top: -25px;
  height: 50px;
}
.row{
  height: 50px;
  margin: auto 0;
  border-radius: 10px;
}
.row:hover{
  background-color: #0864b4;
}

/* APPOINTMENT */
.appointment{
  margin-top: 20vh;
}
.appointment .container{
  display: flex;
  height: 60vh;
  background-image: url(../img/women-doc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.appointment .container div{
  width: 50%;
  position: relative;
}
.appointment .container div h1{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: absolute;
  top: 250px;
  left: 100px;
}
.appointment a{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'cpsp' on;
  color: #40A3F8;
  background-color: #fff;
  position: absolute;
  padding: 15px 25px;
  top: 400px;
  left: 100px;
}

/* FOOTER */
.footer{
  margin-top:  10vh;
}
.footer .container{
  width: 100%;
}
.footer .container hr{
  margin: 2vh 0;
}
footer{
  width: 80%;
  margin: 0 auto;
}
.footer p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}
.footer a{
  font-weight: 400;
  font-size: 14px;
  color: #646464;
  margin-top: 20px;
}
.footer a:hover{
  color: #40A3F8;
  opacity: 0.8;
}
.footerTop{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.footerLeft{
  width: 40%;
}
.footerLeft p{
  margin-top: 20px;
}
.social img{
  margin-top: 20px;
  margin-right: 20px;
}
.footerRight{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.category , .about, .sub{
  display: flex;
  flex-direction: column;
}
.footerRight h2{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
.sub div input, button{
 width: 100%;
 margin-top: 20px;
}
.sub div input{
  padding: 10px 15px;
}
.sub div input::placeholder{
  color: rgba(117, 117, 117, 0.65);
}
.sub div button{
  border: none;
}
.footerBottom{
  height: 5vh;
  background: linear-gradient(90.26deg, rgba(171, 216, 255, 0.7) 0.21%, rgba(113, 255, 221, 0.455) 97.38%);
  opacity: 0.6;
}
.footerBottom>div{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.footerBottom>div div{
  width: 60%;
  text-align: right;
}
.footerBottom div a{
  margin-right: 40px;
}


/* 576px */
@media (max-width: 576px){
.container{
  width: 95%;
}
/* MAIN */
.main{
  height: 70vh;
}
nav{
  display: none;
}
.brgMenu{
  display: inline-block;
}
.brgMenu img{
  height: 30px;
}
/* MAIN MAIN */
.left_main{
  width: 100%;
}
.left_main h1{
  font-size: 32px;
}
.left_main span{
  color:#40A3F8;
}
.left_main p{
  width: 100%;
  font-size: 12px;
}
.right_main{
  display: none;
}
.form{
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
}
.name, .city{
  width: 35%;
  margin: 0 10px;
  padding: 15px 5px ;
}
.form .btn{
  padding: 2px 5px;
}
.search{
  height: 45px;
}


/* ADVANTAGES */
.topA h1{
  font-size: 32px;
}
.topA> div{
  display: flex;
  flex-direction: column;
}
.topA>div div{
  width: 100%;
}
.topA>div div h2{
  margin-bottom: 1vh;
}
.bottomA{
  flex-direction: column;
}
.bottomL{
  width: 100%;
}
.bottomL img{
  width: 100%;
}
.bottomR{
  width: 100%;
  margin-top: 5vh;
}
.bottomR h2{
  font-size: 32px;
  text-align: center;
}
.bottomR p{
  font-size: 15px;
  text-align: center;
}
ul li{
  font-size: 12px;
}
.bottomR a {
  width: 100%;
  text-align: center;
}

/* SERVICE */
.serviceH{
  width: 80%;
}
.serviceH h1{
  font-size: 32px;
}
.serviceH p{
  font-size: 14px;
}
.items{
  display: flex;
  flex-direction: column;
}
.items>div{
  width: 100%;
  margin-bottom: 2vh;
}
.point{
  display: none;
}

/* DOCTORS */
.doctors{
  text-align: center;
  margin-top: 20vh;
}
.doctors .container h1{
  font-size: 32px;
}
.doctors .container>p{
  width: 100%;
  font-size: 16px;
}
.doctor{
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.doctor>div{
  width: 45%;
  margin-top: 3vh;
}
.doctor>div>img{
  margin-top: 10px;
}
.doctor h2{
  font-size: 14px;
}
.doctor p{
  font-size: 12px;
}
.doctor>div>div{
  width: 70%;
  height: 20px;
  margin: 10px 0;
}

/* APP */
.app{
  margin-top: 20vh;
}
.app .container{
  flex-direction: column;
}
.leftApp{
  width: 100%;
}
.leftApp img{
  width: 100%;
}
.rightApp{
  width: 100%;
  text-align: center;
}
.rightApp h1{
  font-size: 32px;
}
.rightApp p{
  font-size: 16px;
}
.rightApp img{
  margin-right: 0px;
}

/* CLIENTS */

.clients h1{
  font-size: 32px;
}
.client{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.client>div{
  width: 90%;
  height: fit-content;
  margin: 0 10px;
}
.off{
  display: none;
}
.cardC{
  width: 90%;
  margin-bottom: 10px;
}
.avatar{
  width: 30%;
}
.cardC>div{
  justify-content: space-between;
}
.cardC>p{
  font-size: 12px;
  line-height: 20px;
}
.leftClient{
  width: 49%;
}
.leftClient h2{
  font-size: 16px;
}
.leftClient p{
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.rightClient{
  width: 30%;
}
.quote{
  right: 30px;
  top: -20px;
  height: 40px;
}
.row{
  height: 30px;
}

/* APPOINTMENT */
.appointment .container{
  background-position: right;
}
.appointment .container div{
  width: 100%;
}
.appointment .container div h1{
  font-size: 32px;
  color: #000000;
  left: 100px;
}
.appointment a{
  left: 75px;
}

/* FOOTER */
footer{
  width: 95%;
}
.footer p{
  font-size: 14px;
}
.footer a{
  font-size: 12px;
  margin-top: 15px;
}
.footerTop{
  flex-direction: column;
}
.footerLeft{
  width: 100%;
  text-align: center;
}
.social{
  display: flex;
  justify-content: space-evenly;
}
.social img{
  margin: 20px 0;
}
.footerRight{
  width: 100%;
}
.category , .about{
  margin-right: 30px;
}
.footerRight h2{
  font-size: 14px;
}
.sub p{
  margin-top: 10px;
}
.sub div input, button{
 margin-top: 10px;
}
.footerBottom{
  height:fit-content;
  background: linear-gradient(90.26deg, rgba(171, 216, 255, 0.7) 0.21%, rgba(113, 255, 221, 0.455) 97.38%);
  opacity: 0.6;
}
.footerBottom>div{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.footerBottom>div p{
  font-size: 12px;
  margin-right: 50px;
}
.footerBottom>div  div{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  
}
}